@use '../../scss/BreakPoints.scss' as *;
@use '../../scss/ColorList.scss' as *;

.question-form {
    padding: 180px 0;
    background-color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: $bp-max;

        @media (max-width: $bp-max) {
            width: 100%;
        }
    }

    &__description {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 30px;

        
        @media (max-width: $bp-900) {
            grid-template-columns: 1fr 1fr;
        }

    }

    &__privacy {
        min-width: 225px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: $l-grey;
    }

}