@use '../../scss/BreakPoints.scss' as *;
@use '../../scss/ColorList.scss' as *;

.map {
    background-color: $dark;
    padding-top: 120px;

    &__container {
        width: $bp-max;
        margin: 0 auto;
        position: relative;

        &::before {
            content: 'V';
            position: absolute;
            font-family: 'Playfair Display';
            font-style: normal;
            font-weight: 700;
            font-size: 400px;
            line-height: 533px;
            opacity: 0.02;
            left: -220px;
            top: -15px;
        }
    }

    &__title {
        margin-bottom: 88px;
    }

}